.back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: white;
    animation-name: backdiv;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--pink-color);
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.heart:after {
    background-color: var(--pink-color);
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
}
.heart:before {
    background-color: var(--pink-color);
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
}

@keyframes backdiv {
    50% {
        background: var(--pink-color);
    }
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(0.7) rotate(-45deg);
    }
}
